$pink: #e34a6f;
$gray: #DCDCDC;
$white: #FFFFFF;
$dark-blue: #1E1E2D;


.top{
    background: $white;
    height: 100vh;
    width: 250px;
    position: fixed;
    border-bottom: 1px solid #000;
}


#menu{
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    cursor: pointer;

}

.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 250px;
    margin-top: 30px;
    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-blue;
    font-size: 2.2rem;
    font-weight: 600;
    transition: 0.3s;
    text-transform: uppercase;
    margin-left: 20px;
    cursor: pointer;


       
}


nav{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    // align-items: center;
    // flex: 1;
    
}

nav a{
    display: flex;
   
    height: 55px;
    color: $dark-blue;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    // max-width:250px;
    transition: 0.3s;
    font-weight: 600;


}

nav a:hover{
    background-color: #6f6f7125;
    transition: 0.3s;
}
.shopping-card-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    }
.shopping-card-container span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    height: 55px;
    font-size: 1.6rem;
    width: 100%;
    color: $dark-blue;
    cursor: pointer;
    transition: 0.3s;

}

.shopping-card-container span:hover{
    background-color: #6f6f7125;
    transition: 0.3s;
}

@media only screen and (max-width: 800px){

    nav a{
        // display: none;
        max-width: 50px;
        font-size: .6rem;
        margin: 10px;
        font-weight: 600;
    }

    .logo{
        width: 40px;
        font-size: 1.3rem;
        font-weight: 600;
    }
    .shopping-card-container{
        width: 40px;
    }

    
    
}