<div class="top">
    <div routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="logo">Vint</div>
    <nav>
        <a routerLink="/women" routerLinkActive="active" ariaCurrentWhenActive="page">WOMEN</a>
        <a  routerLink="/man" routerLinkActive="active" ariaCurrentWhenActive="page">MAN</a>
        <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">LOGIN</a>
        <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">CONTACT</a>
    </nav>
    <div class="shopping-card-container" routerLink="/shop-card" routerLinkActive="active" ariaCurrentWhenActive="page">
        <span class="material-symbols-outlined">shopping_cart</span>
    </div>
</div>