<div class="background2">

    <div class="background-flex">
        <div class="background">
            <div class="h2-container">
                <h2>Shopping Card:</h2>
                
            </div>
            <div class="items-container">
                
            </div>
            <div class="delivery-date-container">
                <p>Estimated delivery date</p>
            </div>
            <div class="items-container">
                
            </div>
            <div class="payment-container">
                <p>We are accepting</p>
            </div>
            <div class="logo-container">

                <img class="logo-icon" src="../../assets/paypal-logo" alt="">
            </div>
        </div>
    </div>
    
</div>