$pink: #e34a6f;
$gray: #F9F9F9;
$white: #FFFFFF;
$dark-blue: #1E1E2D;
$text-color: #54546c;




.background{
    display: flex;
    justify-content: space-around;
margin-left: 200px;
padding-top: 100px;
}

.h2-container{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 25px 20px 10px 20px;
    // background-color: #000;
    // height: 10vh;
    // width: 100%;
}

.h2-container p{
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.flex{
    display: flex;
    flex-direction: column;
}

.items-container-delivery{
    height: 200px;
    width: 1300px;
    background-color: #fff;
    margin: 0px 20px 0px 20px;
    
}
.delivery-date-container{
    display: flex;
    justify-content: center;
    

}
.text-container{
    height: 47vh;
    margin: 10px 25px 10px 25px;
    text-align: justify;

}

.text-container p{
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 2px;
}


.price-container{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid #000;
    padding: 30px 0px 0px 0px;
}
.price-container p, span{
    font-weight: bolder;
    font-size: 2rem;
    // padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.price-container p{
    margin-left: 25px;
}
.price-container span{
    margin-right: 25px;
}

.finalize-container{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid #000;
    padding-top: 25px;
}

.finalize-container button{
    font-weight: bolder;
    font-size: 1.5rem;
    outline: none;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    background-color: $dark-blue;
    color: #fff;
    

}

.finalize-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.delivery-date-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.delivery-date-container p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 15px;

}

.items-container-date{
    
    height: 650px;
    width: 380px;
    background-color: #fff;
    margin: 0px 30px 0px 30px;
    
}

.payment-container{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.payment-container p{
    font-size:20px;
    text-align: center;
    font-weight: 700;
    color: #000;

    white-space: nowrap;

}

.logo-container{
    height: 200px;

    border-radius: 30px;


}

.logo-icon{
    width: 60px;
    height: 62px;
    border-radius: 70%;

    box-shadow: 0px 0px 6px #000;

}

.img-container img {
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
}
.img-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
