<div class="background">
  <div class="items-container-delivery">
    <div class="h2-container">
      <p>Shopping Card</p>
    </div>

    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil similique minima eos accusamus adipisci vel rem nulla nemo amet voluptatibus dolorem quasi, repellat nisi incidunt provident velit molestiae quas, ipsa deserunt! Repellendus quidem distinctio nihil veritatis cupiditate at quas ut doloribus perferendis deserunt hic necessitatibus inventore, nam in incidunt id modi! Neque quas vel iure ducimus, ullam repudiandae recusandae consectetur est magni assumenda sed. Eos laudantium doloremque incidunt labore, maxime possimus aut sequi, hic iste iure nostrum excepturi consectetur ipsa dolores soluta, totam veniam nemo laboriosam sed consequuntur fuga accusantium blanditiis delectus? Architecto eum optio vero. Consequuntur dolores tempora ipsam?
  </div>
  <div class="items-container-date">
    <div class="delivery-date-container">
      <p>Estimated delivery date</p>
    </div>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias id expedita possimus optio ex omnis dolore veniam consequuntur iusto cupiditate.</p>

  </div>
  <div class="logo-container">
    <div class="payment-container">
      <p>We are accepting</p>
      
    </div>
    <div class="img-container">
      <img center class="logo-icon" [lazyLoad]="paypalIcon" alt="paypalIcon" />
      <img
        center
        class="logo-icon"
        [lazyLoad]="mastercardIcon"
        alt="mastercardIcon"
      />
      <img center class="logo-icon" [lazyLoad]="visaIcon" alt="visaIcon" />
      <img center class="logo-icon" [lazyLoad]="bankIcon" alt="bankIcon" />
    </div>
  </div>
</div>
