<div class="background">
    <div class="background-login">
        <div class="h2-container">
            <h2>Login in</h2>
            <p>Join to our community and get ready to participate in our newsletters and our contests!</p>
        </div>
        <form>
            <div class="form-container">

                <div class="login-container">
                    <label for="">Login</label>
                    <input class="text" type="text">
                </div>
                <div class="password-container">
                    <label for="">Password</label>
                    <input class="text" type="text">
                </div>
                <div class="checkbox-password-container">
                    <input class="checkbox" type="checkbox"> 
                    <p>Remember me</p>
    
                    <a href="#">Do not you remember the password?</a>
                </div>
            </div>
            <div class="button-container">
                <div class="flex">
                    
                    <button class="black-button">Login in</button>
                    <button class="white-button">Join to us</button>
                    <a href="#">Membership information</a>
                </div>

            </div>
        </form>

    </div>
</div>