<div class="background">
  <div class="flex">
    <div class="clothes-container">
      <div>
        <img width="300" height="450" [lazyLoad]="beshMen"  alt="men-with-besh-tshirt" />
        <p>classic bezowy t-shirt</p>
        <span class="price-text">54.43$</span>

        <button>Add</button>
      </div>
      <div>
        <img width="300" height="450" [lazyLoad]="blackMen"  alt="men-with-black-tshirt" />
        <p>classic rozowy t-shirt</p>
        <span class="price-text">23.34$</span>

        <button>Add</button>
      </div>
      <div>
        <img width="300" height="450" [lazyLoad]="pinkMen"  alt="men-with-pink-tshirt" />
        <p>classic czarny t-shirt</p>
        <span class="price-text">12.54$</span>

        <button>Add</button>
      </div>
      <div>
        <img width="300" height="450" [lazyLoad]="whiteMen"  alt="men-with-white-tshirt" />
        <p>classic blekitny t-shirt</p>
        <span class="price-text">95.23$</span>

        <button>Add</button>
      </div>
      <div>
        <img width="300" height="450" [lazyLoad]="rainbowMen"  alt="men-with-rainbow-tshirt" />
        <p>classic bezowy t-shirt</p>
        <span class="price-text">54.11$</span>
        <button>Add</button>
      </div>
      <div>
        <img width="300" height="450" [lazyLoad]="pinkMen" alt="men-with-pink-tshirt" />
        <p>classic rozowy t-shirt</p>
        <span class="price-text">66.44$</span>

        <button>Add</button>
      </div>
    </div>
  </div>
</div>
