@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');


$gray: rgb(208, 206, 206);
$pink: #e34a6f;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    

}
html, body {
    overflow-x: initial;
  }
  body {
    position: relative;
    height: 200vh;

  }

html{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}

::-webkit-scrollbar {
  width: 1.3rem;
  background-color: rgb(210, 193, 193);
  
}

::-webkit-scrollbar-track {
  background: hsl(345, 20, 39 / 1);
  border-radius: 50vw;
  margin-block: .2rem;
  margin-inline: .2rem;
}
::-webkit-scrollbar-thumb {
  background: hsl(345, 100, 39 / 1);
  border-radius: 50vw;
  margin-block: .5rem;
  margin-inline: .4rem;

}
@media only screen and (max-width: 800px){

  html, body{
    overflow-x: hidden;
  }
  

  ::-webkit-scrollbar {
    width: 0px;
  }
  
  
}