<div class="home-background">
  <div class="h1-container">
    <h1>
      <span class="VINT"> VINT </span>
      CLOTHING MARK
    </h1>
  </div>
  <div class="h2-container">
    <h2>100% COTTON FROM POLAND</h2>
  </div>
  <div class="h3-container">
    <h3>By buying our clothes you support Polish market!</h3>
  </div>
  <div class="section-border">
    <a href="#">WOMEN</a>
    <a href="#">MAN</a>
    <a href="#">T-SHIRT</a>
    <a href="#">HOODIE</a>
    <a href="#">SHOES</a>
  </div>
  <section>
    <div class="boxes-container">
      <div class="boxes-backgrounds">
        <div class="boxes-model">
          <img src="assets/mezczyzna-czarny.webp" alt="mezczyzna-czarna-koszulka" />
        </div>
        <div class="boxes-text">
          <p>classic black t-shirt</p>
        </div>
        <div class="button-container">
          <button class="buyButton">Add to card</button>
        </div>
        <div class="boxes-text-price-background">
          <div class="boxes-text-price">59.99$</div>
        </div>
      </div>
      <div class="boxes-backgrounds">
        <div class="boxes-model">
          <img src="assets/mezczyzna-rozowy.webp" alt="mezczyzna-rozowa-koszulka" />
        </div>
        <div class="boxes-text">
          <p>classic pink t-shirt</p>
        </div>
        <div class="button-container">
          <button class="buyButton">Add to card</button>
        </div>
        <div class="boxes-text-price-background">
          <div class="boxes-text-price">129.99$</div>
        </div>
      </div>
      <div class="boxes-backgrounds">
        <div class="boxes-model">
          <img src="assets/mezczyzna-BIALY.webp" alt="mezczyzna-biala-koszulka" />
        </div>
        <div class="boxes-text">
          <p>classic white t-shirt for men</p>
        </div>
        <div class="button-container">
          <button class="buyButton">Add to card</button>
        </div>
        <div class="boxes-text-price-background">
          <div class="boxes-text-price">229.99$</div>
        </div>
      </div>
      <div class="boxes-backgrounds">
        <div class="boxes-model">
          <img src="assets/mezczyzna-bialy-kolorowy.webp" alt="mezczyzna-biala-kolorowa-koszulka" />
        </div>
        <div class="boxes-text">
          <p>classic white oversize t-shirt</p>
        </div>
        <div class="button-container">
          <button class="buyButton">Add to card</button>
        </div>
        <div class="boxes-text-price-background">
          <div class="boxes-text-price">259.99$</div>
        </div>
      </div>
      <div class="boxes-backgrounds">
        <div class="boxes-model">
          <img src="assets/kobieta-rozowe.webp" alt="kobieta-rozowa-koszulka" />
        </div>
        <div class="boxes-text">
          <p>classic pink t-shirt</p>
        </div>
        <div class="button-container">
          <button class="buyButton">Add to card</button>
        </div>
        <div class="boxes-text-price-background">
          <div class="boxes-text-price">9.99$</div>
        </div>
      </div>
      <div class="boxes-backgrounds">
        <div class="boxes-model">
          <img src="assets/kobieta-czarne.webp" alt="kobieta-czarna-koszulka" />
        </div>
        <div class="boxes-text">
          <p>classic black t-shirt</p>
        </div>
        <div class="button-container">
          <button class="buyButton">Add to card</button>
        </div>
        <div class="boxes-text-price-background">
          <div class="boxes-text-price">254.99$</div>
        </div>
      </div>
      <div class="boxes-backgrounds">
        <div class="boxes-model">
          <img src="assets/kobieta-blekit.webp" alt="kobieta-blekitna-koszulka" />
        </div>
        <div class="boxes-text">
          <p>Sky t-shirt</p>
        </div>
        <div class="button-container">
          <button class="buyButton">Add to card</button>
        </div>
        <div class="boxes-text-price-background">
          <div class="boxes-text-price">34.99$</div>
        </div>
      </div>
      <div class="boxes-backgrounds">
        <div class="boxes-model">
          <img src="assets/kobieta-bezowe.webp" alt="kobieta-bezowa-koszulka" />
        </div>
        <div class="boxes-text">
          <p>Beige oversize hoodie</p>
        </div>
        <div class="button-container">
          <button class="buyButton">Add to card</button>
        </div>
        <div class="boxes-text-price-background">
          <div class="boxes-text-price">227.99$</div>
        </div>
      </div>
      <div class="boxes-backgrounds">
        <div class="boxes-model">
          <img src="assets/kobieta-rozowe.webp" alt="kobieta-rozowa-koszulka" />
        </div>
        <div class="boxes-text">
          <p>Pink basic t-shirt</p>
        </div>
        <div class="button-container">
          <button class="buyButton">Add to card</button>
        </div>
        <div class="boxes-text-price-background">
          <div class="boxes-text-price">212.99$</div>
        </div>
      </div>
    </div>
  </section>
</div>
