<div class="home-background">
  <div class="h1-container">
    <h1>
      <span> VINT </span>
      CLOTHING MARK
    </h1>
  </div>
  <div class="h2-container">
    <h2><span> 100% </span> COTTON FROM <span> POLAND </span></h2>
  </div>
  <div class="h3-container">
    <h3>By buying our clothes you support <span>
      Polish
    </span>  market!</h3>
  </div>
  <div class="section-border">
    <a href="#">WOMEN</a>
    <a href="#">MAN</a>
    <a href="#">T-SHIRT</a>
    <a href="#">HOODIE</a>
    <a href="#">SHOES</a>
  </div>
  <section>
    <div class="flex">
      <div class="clothes-container">
        <div class="image-container">
          <img
            width="300"
            height="450"
            [lazyLoad]="beshMen"
            alt="men-with-besh-tshirt"
          />
          <p>classic bezowy t-shirt</p>
          <span class="price-text">54.43$</span>

          <button>Add</button>
        </div>
        <div class="image-container">
          <img
            width="300"
            height="450"
            [lazyLoad]="blackMen"
            alt="men-with-black-tshirt"
          />
          <p>classic rozowy t-shirt</p>
          <span class="price-text">23.34$</span>

          <button>Add</button>
        </div>
        <div class="image-container">
          <img
            width="300"
            height="450"
            [lazyLoad]="pinkMen"
            alt="men-with-pink-tshirt"
          />
          <p>classic czarny t-shirt</p>
          <span class="price-text">12.54$</span>

          <button>Add</button>
        </div>
        <div class="image-container">
          <img
            width="300"
            height="450"
            [lazyLoad]="whiteMen"
            alt="men-with-white-tshirt"
          />
          <p>classic blekitny t-shirt</p>
          <span class="price-text">95.23$</span>

          <button>Add</button>
        </div>
        <div class="image-container">
          <img
            width="300"
            height="450"
            [lazyLoad]="rainbowMen"
            alt="men-with-rainbow-tshirt"
          />
          <p>classic bezowy t-shirt</p>
          <span class="price-text">54.11$</span>
          <button>Add</button>
        </div>
        <div class="image-container">
          <img
            width="300"
            height="450"
            [lazyLoad]="pinkMen"
            alt="men-with-pink-tshirt"
          />
          <p>classic rozowy t-shirt</p>
          <span class="price-text">66.44$</span>
          <button>Add</button>
        </div>
        <div class="image-container">
          <img
            width="300"
            height="450"
            [lazyLoad]="pinkGirl"
            alt="girl-with-pink-tshirt"
          />
          <p>classic bezowy t-shirt</p>
          <span class="price-text">54.43$</span>

          <button>Add</button>
        </div>
        <div class="image-container">
          <img
            width="300"
            height="450"
            [lazyLoad]="blackGirl"
            alt="girl-with-black-tshirt"
          />
          <p>classic rozowy t-shirt</p>
          <span class="price-text">23.34$</span>

          <button>Add</button>
        </div>
        <div class="image-container">
          <img
            width="300"
            height="450"
            [lazyLoad]="blekitGirl"
            alt="girl-with-blekit-tshirt"
          />
          <p>classic czarny t-shirt</p>
          <span class="price-text">12.54$</span>

          <button>Add</button>
        </div>
        <div class="image-container">
          <img
            width="300"
            height="450"
            [lazyLoad]="beshGirl"
            alt="girl-with-besh-tshirt"
          />
          <p>classic blekitny t-shirt</p>
          <span class="price-text">95.23$</span>

          <button>Add</button>
        </div>
        <div class="image-container">
          <img width="300" height="450" [lazyLoad]="blackGirl" />
          <p>classic bezowy t-shirt</p>
          <span class="price-text">54.11$</span>
          <button>Add</button>
        </div>
        <div class="image-container">
          <img width="300" height="450" [lazyLoad]="beshGirl" />
          <p>classic rozowy t-shirt</p>
          <span class="price-text">66.44$</span>

          <button>Add</button>
        </div>
      </div>
    </div>
  </section>
</div>
<footer>
  <div class="text-container">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, modi
      tempore rem qui debitis laborum, sequi adipisci iusto atque doloremque
      labore alias libero suscipit excepturi molestias ea accusamus dolorem
      quos?
    </p>
  </div>
</footer>
