$pink: #e34a6f;
$gray: #F9F9F9;
$white: #FFFFFF;
$dark-blue: #1E1E2D;
$text-color: #54546c;

.background{
  background-color: $gray;
  height: 200vh;
  margin-left: 140px;
  
}

.clothes-container{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 55% 55% 55%;
  margin: 20px;
  
  
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

img{
  width: 300px;
  height: 450px;
  margin: 40px 50px;
}
div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

p{
  font-size: 1.2rem;
color: $dark-blue;
font-weight: 700;
}
button{
  width: 4rem;
  height: 4rem;
  outline: none;
  border: none;
  margin-top: 5px;
  box-shadow: 0px 0px 12px #f3f6fc;
  background-color: $dark-blue;
  color: #fff;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50%;
  transition: 0.4s;
  cursor: pointer;

  &:hover{
    transition: 0.4s;
    background-color: #2c2c41;
    color: #fff;
   
  }
}


span{
  font-size: 2rem;
  margin-top: 5px;
  color: $dark-blue;
  font-weight: bold;

}
@media only screen and (max-width: 1050px){

  img{
    width: 150px;
    height: 250px;
    margin: 50px 25px;

  }
}

@media only screen and (max-width: 600px){
  .clothes-container{
    display: flex;
    flex-direction: column;
  }
  .flex{
    flex-direction: column;
  }

  .background{
    height: 360vh;
  }
}