
<div class="background">
<div class="flex">
    <div class="clothes-container">
        <div>
            <img width="300" height="450" [lazyLoad]="pinkGirl"  alt="girl-with-pink-tshirt" />
            <p>classic bezowy t-shirt</p>
            <span>54.43$</span>

            <button (click)="clickMe()">Add </button>
        </div>
        <div>           
            <img width="300" height="450" [lazyLoad]="blackGirl"  alt="girl-with-black-tshirt" />
            <p>classic rozowy t-shirt</p>
            <span>23.34$</span>

            <button (click)="clickMe()">Add </button>
        </div>
        <div>            
            <img width="300" height="450" [lazyLoad]="blekitGirl"  alt="girl-with-blekit-tshirt" />
            <p>classic czarny t-shirt</p>
            <span>12.54$</span>

            <button (click)="clickMe()">Add </button>
        </div>
        <div>
            <img width="300" height="450" [lazyLoad]="beshGirl" alt="girl-with-besh-tshirt" />
            <p>classic blekitny t-shirt</p>
            <span>95.23$</span>

            <button (click)="clickMe()">Add </button>
        </div>
        <div>
            <img width="300" height="450" [lazyLoad]="blackGirl" />
            <p>classic bezowy t-shirt</p>
            <span>54.11$</span>
            <button (click)="clickMe()">Add</button>
        </div>
        <div>
            
            <img width="300" height="450" [lazyLoad]="beshGirl" />
            <p>classic rozowy t-shirt</p>
            <span>66.44$</span>

            <button (click)="clickMe()">Add</button>
        </div>
    </div>
</div>

</div>